
.artistImage
{
    width: 200px;
    height: 200px;
}

/*----------------------------------------------*/
:root {
    /*--mainColor: #3B5997;*/ /* FaceBook blue */
    /*--accentColor: #ED7F09;*/ /* Trendy orange */
    --mainColor: green;
    --accentColor: yellow;
}

/*----------------------------------------------*/
.AccentColor
{
    color: green;
    font-weight: bold;
}

/* FaceBook blue */
.BaseColor {
    color: #3B5997; 
    background-color: White;
}

.ImageSize {
    width: 50px;
}

input {
    font-size: 20px;
    width: 20px;
}

body, textarea {
    font-family: "Times New Roman";
    font-size: 20px;
}

#artist_input_div {
    border: 1px solid black;
    height: 151px;
    width: 170px;
}

#artists_json {
    height: 508px;
    width: 850px;
}

#ButtonAbout {
    width: 74px;
}

#run {
    width: 223px;
}

