<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  
  <appSettings>

    <!-- Common for all applications: -->
    <add key="DEVELOPER_SERVER_IP"    value="127.0.0.1"/>
    <add key="DEVELOPER_CLIENT_PC_IP" value="71.232.134.255"/>
    <add key="WEBMASTER_HOST_EMAIL"   value="workingweb@workingweb.info"/>

  </appSettings>

</configuration>